@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
    scroll-behavior: smooth;
}

/* Article Styles */
.articles {
    padding: 2rem;
}

.articles > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
}

/* Article Card Styles */

.articles > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    position: relative;
    list-style: none;
}

.articles > ul > li > figure {
    max-height: 269px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.articles > ul > li > figure > img {
    width: 100%;
}

.articles > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

.articles > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
}

.articles > ul > li > h5 {
    font-size: 1rem;
    line-height: 0.5;
    padding: 0 .75rem;
    color: #666666;
}

.articles > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.articles > ul > li > .comment-count {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
    padding: .5rem 1rem;
    margin: .5rem;
}


table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 100%;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }

}
